@media screen and (min-width: 1424px) {
    .page-wrapper.toggled .page-content {
        padding-left: 300px;
        padding-top: 30px;
        padding-right: 32px;
    }

    .sidebar-wrapper .sidebar-brand #close-sidebar {
        display: none;
    }

}

@media screen and (max-width: 1425px) {
    .page-wrapper .page-content {
        padding-top: 30px;
    }

    a.sidebar_toggle {
        position: relative;
        left: 65px;
        top: 70px;
        font-size: 26px;
        margin-right: 20px;
        color: #646698;
    }

    #show-sidebar {
        position: absolute;
        left: 65px;
        top: 40px;
    }

    .container-fluid {
        padding: 0 60px;
    }

    .topbar_left {
        padding-left: 65px;
    }
}

@media screen and (max-width: 1280px) {
    .topbar_title span {
        padding: 0 0 0 15px;
    }

    h3.topbar_title.mb-0 {
        font-size: 25px;
    }
}

@media screen and (max-width: 1199px) {
    #show-sidebar {
        left: 15px;
    }

    .container-fluid {
        padding: 0 15px;
    }


    .modal_width_500 {
        max-width: 500px !important;
    }
}

@media screen and (max-width: 991px) {
    .login_txt {
        left: unset;
        font-size: 22px;
        line-height: 32px;
        padding: 0 15px;
    }
    
}

@media screen and (max-width: 767px) {
    .search_form {
        margin: .4em 0em .4em auto;
    }

    .modal-body {
        padding: 65px 30px !important;
    }

    .dashboard_setup_box {
        margin: 0 1.5% 3%;
        width: 48.5%;
    }

    .dashboard_setup_box.business_settings_box {
        margin-left: 0;
    }

    .dashboard_setup_box.checkout_flow_box {
        margin-right: 0;
    }
    .adding_restriction_top_img, .adding_restriction_center_img {
        width: 100%;
    }
    
    img.adding_restriction_btm_img {
        width: 42%;
    }
    img.adding_restriction_btm_img {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {

    .search_form {
        width: 78%;
        display: block;
    }

    .topbar_right {
        text-align: center;
    }

    .topbar_left {
        padding-left: 0;
        text-align: center;
    }

    .search_form {
        width: 78%;
        display: block;
        margin: 20px auto 25px auto;
    }


}

@media screen and (max-width: 480px) {

    .topbar_left {
        padding-left: 10px;
    }

    button.theme_btn.left_topbar_btn {
        margin-left: 0;
    }
    img.adding_restriction_btm_img {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .stock_management_modal_subtitle {
        width: 100%;
    }
}

@media screen and (max-width: 380px) {

    .theme_btn {
        letter-spacing: 0px;
        padding: 14px 18px;
        font-weight: 600;
        margin: 0 0 0 10px;
        font-size: 16px;
    }
    .payfull_form_img {
        width: 80%;
    }
}
