body {
    background: #f1f7f9;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

button:focus {
    outline: 0px dotted;
    outline: 0;
}
a:hover{
    text-decoration: none;
}
.themecolor {
    color: #466afc !important;
}

.big {
    font-size: 18px;
}

.form-control:focus {
    box-shadow: unset;
}
span.error {
    font-size: 12px;
}
.warning_txt {
    color: #f47336 !important;
}
/* .blue_color {
    color: #466afc !important;
    cursor: pointer;
} */
.dropdown-toggle {
    cursor: pointer;
}
.equal_row {
    display: flex;
    flex-wrap: wrap;
}

.theme_btn {
    text-align: center;
    letter-spacing: .4px;
    cursor: pointer;
    width: auto;
    box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    padding: 17px 25px;
    border-radius: 6px;
    font-weight: 500;
    margin: 0 0 0 15px;
    font-size: 18px;
    background: #fff;
    border: 0;
    color: #646698;
}

.dark_btn {
    background: #466afc;
    color: #fff;
}
/* signin form css */
.signup_section {
    display: flex;
    flex-direction: row;
    background-color: #f9fbfc;
}
.login_section_left {
    background-image: url(../../assets/img/login.jpg);
    width: calc(100% - 500px);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
}
.login-gradient {
    position: fixed;
    bottom: 0;
    width: calc(100% - 500px);
    height: 303px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,1));
}
.login_txt {
    position: absolute;
    bottom: 60px;
    left: 77px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}
.login_form_btm_txt {
    font-size: 14px;
    text-align: center;
    margin: 25px 0 0;
    display: block;
}
.login_section_right {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* background-color: #f9fbfc; */
    padding: 0px 36px 15px;
    z-index: 2;
    /* box-shadow: -4px 0px 10px rgba(22,86,160,0.13); */
    right: 0;
}
.login_user_text h4 {
    color: #646698;
    margin-bottom: 20px;
    margin-top: 50px;
}
.login_form_logo {
    width: 250px;
}
/* signin form css end*/
/* footer profile setting button */
.profile_setting_button img {
    position: absolute;
    right: 15px;
    top: 11px;
    width: 30px;
    height: 37px;
    cursor: pointer;
}

.profile_setting_button {
    position: fixed;
    background: #466AFC;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    bottom: 30px;
    right: 30px;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    z-index: 5001 !important;
}

.profile_setting_box {
    /* height: 123px; */
    border-radius: 12px;
    width: 435px;
    padding: 0;
    pointer-events: all;
    background: #466AFC;
    bottom: 30px;
    right: 30px;
    position: fixed;
    display: none;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    z-index: 5000;
}

.profile_setting_inner_top {
    /* height: 43px; */
    background: #0C289D;
    border-radius: 12px 12px 0 0;
    position: relative;
}

.profile_setting_inner_top p {
    color: #d0d9ff;
    font-size: 14px;
    padding: 10px 10px 10px 15px;
    margin-bottom: 0;
}

.white_label_img {
    height: 20px;
    margin-right: 5px;
}

.whitelabel_txt span {
    padding-right: 10px;
}

.profile_setting_close_btn {
    position: absolute;
    right: 5px;
    top: 3px;
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.profile_setting_inner_btm {
    padding: 5px 10px;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 12px 12px;
    pointer-events: all;
    color: #fff;
    font-size: 14px;
}

.edit_profile_img {
    height: 40px;
    width: auto;
    vertical-align: middle;
    border-radius: 50%;
    margin: 0 10px;
    display: inline-block;
}

.edit_profile_inner {
    display: inline-block;
    vertical-align: middle;
}

.logout_profile_text img,
.support_profile_text img {
    width: 30px;
    margin-bottom: 5px;
}

.edit_profile_text {
    width: 57%;
}

.edit_profile_text,
.logout_profile_text,
.support_profile_text {
    display: inline-block;
    vertical-align: middle;
}

.logout_profile_text,
.support_profile_text {
    text-align: center;
    margin: auto;
    height: 70px;
    width: 80px;
    padding: 8px;
    margin: 0 0.5%;
    border-radius: 12px;
}

.logout_profile_text:hover,
.support_profile_text:hover {
    background: #3957d2;
    transition: all 0.3s;
}

.profile_setting_inner_top,
.profile_setting_inner_btm {
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);

}

/* footer profile setting button end*/


/* topbar css*/
.top-bar {
    margin-bottom: 30px;
}

.topbar_title_icon {
    width: 50px;
}

.topbar_title span {
    padding: 0 0 0 25px;
    color: #646698;
}

.topbar_right {
    text-align: right;
}

.search_form {
    width: 36%;
    display: inline-block;
    margin: .4em .7em .4em auto;
}

.form-control.search_field {
    margin-left: 7px;
    border: 0;
    padding-left: 0;
    font-size: 18px;
}

.search_form .input-group-text {
    padding: 0;
    font-size: 22px;
    border: 0;
    background: unset;
}

.search_form .input-group {
    align-items: center;
    box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 0 5px 0 rgba(49, 49, 93, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    padding: 3px 14px;
    background-color: #fff;
}

.topbar_btn {
    display: inline-block;
}

/* topbar css end*/

/* recommend_box css */
.recommend_box {
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 3px 4px rgba(22, 86, 160, 0.13);
    margin-bottom: 20px;
}

.recommend_box p,
.products_table_btm_txt p {
    margin-bottom: 3px;
    font-weight: 200;
}

.rating_area {
    border-radius: 6px;
    width: 70%;
    margin-bottom: 10px;
}

/* recommend_box css end*/

/* products table */
.products_table_content {
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 0 3px 4px rgba(22, 86, 160, 0.13);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.products_table {
    background: #fff;
    margin-bottom: 0;
}

.products_table thead,
.variations_table thead {
    box-shadow: 0 3px 4px rgba(22, 86, 160, 0.13);
    background: #fff;
}

.products_table th,
.variations_table th {
    font-weight: 600;
    padding: 10px 10px;
    font-size: 16px;
    color: #646698;
    line-height: 30px;
    vertical-align: middle !important;
    height: 60px;
}

.products_table thead th,
.variations_table thead th {
    border: 0 !important;
}

.products_table th:nth-child(1),
.products_table td:nth-child(1),
.variations_table th:nth-child(1),
.variations_table td:nth-child(1) {
    padding-left: 30px;
}

.products_table tbody tr,
.variations_table tbody tr {
    height: 80px;
}

.product_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.product_name {
    padding-left: 15px;
}

.products_table td,
.variations_table td {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #646698;
    vertical-align: middle !important;
    border-top: 0;
    border-bottom: 1px solid #e0e9f3;
}

.currency_symbol,
.view_product_currency_symbol {
    color: #a7aaf9 !important;
    display: inline;
    padding: 0 3px;
    font-size: 20px;
}

img.toggle_droupdown {
    height: 20px;
}

.products_table .dropdown-toggle::after,
.rating_area_inner,
span.tox-statusbar__branding,
.product_variations_form {
    display: none;
}

.dropdown-toggle::after {
    display: none !important;
}

.tox .tox-statusbar {
    border-top: 0 !important;
}

.products_table_btm_txt {
    text-align: center;
    background: #fff;
    box-shadow: 0 3px 4px rgba(22, 86, 160, 0.13);
    padding: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
}
.datetime_txt {
    border: 2px solid #f1f5f9;
    display: inline-block;
    border-radius: 3px;
    width: 44px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
}
.month_txt {
    margin-bottom: 0;
    width: 40px;
    height: 12px;
    background-color: #f1f5f9;
    font-size: 10px;
    color: #a6a8d0;
    text-align: center;
    line-height: 11px;
}
.datetime_separator {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    padding: 0 10px;
    color: #a6a8d0;
}
.day_txt {
    font-weight: 400;
    text-align: center;
    color: #646698;
    font-size: 16px;
    line-height: 16px;
    background: white;
    margin-bottom: 0 !important;
}
.time_layout {
    display: inline-block;
    border: 2px solid #f1f5f9;
    background-color: white;
    height: 36px;
    width: 65px;
    text-align: center;
    font-size: 18px;
    color: #646698;
    vertical-align: middle;
    border-radius: 3px;
    /* font-weight: 400; */
}
/* products table css end*/


/* product modal css */
.modal_title {
    color: #646698;
    font-weight: 300;
}

.modal_subtitle {
    font-size: 20px;
    line-height: 27px;
    color: #777e8e;
    font-weight: 300;
}

.product_type {
    display: flex;
    flex-wrap: wrap;
}

.product_type_inner {
    padding: 35px 15px;
    box-shadow: 0 3px 4px rgba(22, 86, 160, 0.13);
    background: white;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
}

.product_type_img {
    width: 60px;
    margin-bottom: 25px;
}

.product_type_title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #646698;
}

.product_type_link {
    bottom: 20px;
    position: absolute;
    text-align: center;
    display: block;
    width: calc(100% - 15px);
}

.product_type_inner:hover {
    transform: translateY(-3px) scale(1.005) translateZ(0);
    box-shadow: 0 16px 26px rgba(0, 0, 0, 0.11), 0 16px 36px rgba(128, 133, 251, 0.33);
}

.product_type_txt {
    margin-bottom: 25px;
}

.back_btn_link {
    font-size: 20px;
    color: #646698;
}

.back_btn_img {
    margin-right: 15px;
    width: 24px;
    margin-top: -4px;
}

.modal_width_1000 {
    max-width: 1000px;
}

.modal_width_500 {
    max-width: 500px;
}

.modal_width_1155 {
    max-width: 1155px;
}

.modal-body {
    padding: 65px 82px;
    background: #F9FBFC;
}

/* product modal css end*/

/* Add product modal css*/
form label {
    color: #646698;
    letter-spacing: .4px;
    font-size: 14px;
}

.form-control.form_field:focus {
    border-color: #466afc !important;
}

.form-control.form_field::placeholder,
.selectize-input>input::placeholder,
.form-control::placeholder {
    color: #C2C4FB !important;
}

.search_form i,
.search_form::placeholder {
    color: #A7AAF9 !important;
}

.form-control.form_field {
    height: 60px;
    background: white;
    border-radius: 4px;
    border: 1px solid #d3d4fc;
    color: #646698 !important;
    font-size: 18px;
    padding: 10px 20px;
}

.addproduct label span, form label span, .error {
    color: red;
}

.input-group-prepend .form-control.form_field {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form_images_upload p {
    font-weight: 300;
    color: #777e8e;
}

.form_images_upload label {
    font-size: 26px;
}

.selectize-control.multi .selectize-input.has-items {
    padding: 10px 20px;
    height: 60px;
}

.selectize-input {
    color: #646698;
    box-shadow: unset;
    color: #646698 !important;
}

.selectize-control.multi .selectize-input>div {
    padding: 10px 20px;
    border-radius: 16px;
    border: 0;
}

#tableDropzone {
    display: table-cell;
    border: 0;
    background-image: url(../../../admin/assets/img/products/addimg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    padding: 20px 10px;
}

.price_width,
.stock_width {
    padding: 0;
    border: 0;
}

.price_width:focus,
.stock_width:focus {
    padding: 10px 15px;
    border: 1px solid #d3d4fc;
}

.price_filed,
.quantity_filed {
    width: 150px;
}

div#myDropzone {
    width: 152px;
    display: table-cell;
    height: 120px;
    border: 1px solid #d3d4fc;
    border-radius: 4px;
    background: white;
    margin: 20px 20px 10px 0;
    vertical-align: top;
    background-image: url(../../../admin/assets/img/products/addimg.svg);
    ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    padding: 15px 20px;
}

#confirm_btn {
    margin: 10px auto;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    background: #466afc;
    border: 0 !important;
    font-size: 16px;
    border-radius: 4px;
    color: #fdfdfd;
    height: 60px;
    font-weight: normal;
    letter-spacing: .4px;
    cursor: pointer;
    width: 40%;
    display: block;
    padding: 18px 0;
}

#theImg {
    float: none;
    width: 152px;
    display: inline-block;
    height: 120px;
    border: 1px solid #d3d4fc;
    border-radius: 4px;
    background: white;
    margin: 20px 20px 10px 0;
    vertical-align: top;
    padding: 10px;
}

.variations_table {
    background: #fff;
}

.variations_table tbody {
    box-shadow: 0 3px 4px rgba(22, 86, 160, 0.13);
}

.product_dimension {
    width: 33.33%;
}

input.height_field {
    border-top-right-radius: 0 !important;
    border-right-width: 0 !important;
    border-bottom-right-radius: 0 !important;
}

input.length_field {
    border-radius: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}

input.width_field {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left-width: 0 !important;
}

.product_submit_btn {
    width: 30%;
    font-size: 16px;
}

/* Add product modal css end*/



/* view product css */
.product_view_droupdown,
.product_view_edit_btn {
    display: inline-block;
}

.dropdown.product_view_droupdown i {
    font-weight: 400;
    font-size: 33px;
    vertical-align: middle;
    padding-left: 30px;
    color: #A7AAF9;
}

.view_product_name p {
    /* font-size: 18px; */
    /* line-height: 24px; */
    color: #646698;
    font-weight: 600;
}

.view_product_name img {
    width: 24px;
    margin-right: 14px;
}

.view_product_details {
    padding-top: 20px;
}

.view_product_detail_txt label, .customer_details_txt label {
    font-size: 14px;
    color: #878ae0;
    line-height: 19px;
    margin-bottom: 0;
}

.view_product_detail_txt p, .customer_details_txt p {
    font-size: 18px;
    line-height: 24px;
    color: #646698;
    font-weight: 400;
    letter-spacing: .2px;
}

.view_product_tab .nav-tabs .nav-link {
    padding: 28px 18px;
    cursor: pointer;
    border-top: 1px solid #e0e9f3;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #646698;
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
    vertical-align: middle
}

.view_product_tab .nav-tabs .nav-link.active {
    background: #a7aaf9 url(https://www.plugnpaid.com/css/img/tabs-active-pointer.svg) no-repeat left 50% bottom -25px !important;
    border-bottom: 0;
    color: #fff;
}

.view_product_tab .nav-tabs .nav-link svg {
    margin-right: 10px;
}

.view_product_tab .nav-tabs {
    border-right: 1px solid #e0e9f3;
    border-radius: 4px;
    background: #f1f5f9;
}

.view_product_tab {
    padding-top: 45px;
}

.view_product_tab .tab-content {
    background: white;
    box-shadow: 0 3px 4px rgba(22, 86, 160, 0.13);
    /* padding: 40px; */
    border-bottom-left-radius: 5px;
    border-top: 1px solid #e0e9f3;
    border-bottom-right-radius: 5px;
    margin-top: 45px;
}


.view_product_tab .tab-pane {
    color: #646698;
    text-align: center;
    padding: 40px;
}

.view_product_tab .nav-item.nav-link path {
    fill: #646698;
}

.view_product_tab .nav-item.nav-link.active path, .view_product_tab .nav-tabs .nav-link:hover path {
    fill: #fff;
}

.view_product_content p {
    font-weight: 200;
    margin-bottom: 3px;
}

.tab-pane.event_tab_content {
    padding: 0;
}

.event_tab_table tbody {
    box-shadow: unset;
}

.event_tab_table tbody tr {
    height: 60px;
}

.event_tab_btm_content {
    padding: 25px 0 70px;
}

/* view product css end*/


/* delete product Model */
.modal_width_500 .modal-body {
    padding: 60px 36px;
}

.delete_product_img img {
    width: 120px;
    padding: 40px 0;
}

.delete_product_details h3 {
    color: #646698;
    padding-bottom: 5px;
}

.delete_product_details .big {
    color: #646698;
    margin-bottom: 5px;
}

.product_remove_btn {
    margin-top: 40px;
}

/*/////////////////////////////////////////////////////
                 setting button modal css
///////////////////////////////////////////////////////*/
/* edit profile modal */
.droupdown_menu_toggleicon {
    float: right;
}

.profile_save_btn .theme_btn {
    padding: 10px 25px;
    font-size: 14px;
    height: 40px;
}

.consents_table_text {
    padding: 60px 0;
}

p.consents_table_title {
    text-align: center;
    font-size: 24px;
    color: #646698;
    padding-bottom: 5px;
}

.consents_table tbody {
    box-shadow: unset;
}

.consents_table td {
    font-size: 12px;
    line-height: 24px;
}

/* edit profile modal end*/

/* superbolts modal */

.superbolts_logo {
    height: 100px;
    margin: auto;
    display: block;
}

.superbolts_top_txt {
    position: relative;
    padding-bottom: 50px;
}

.superbolts_top_txt .back_btn_link {
    position: absolute;
}

.translation_missing_title {
    font-size: 26px;
    color: #646698;
    margin-bottom: 5px;
}

.translation_missing_txt p,
.superbolt_note_txt p {
    color: #777e8e;
}

.translation_missing_txt {
    padding-bottom: 40px;
}

ul.superbolts_list li {
    color: #00ad28;
    list-style: none;
    margin-bottom: 5px;
}

ul.superbolts_list li i {
    margin-right: 5px;
}

.superbolt_setting h5 {
    color: #f47336;
    line-height: 27px;
    margin-bottom: 25px;
}

.superbolts_list_left h5,
.superbolt_note_txt h5,
.superbolt_setting_box h5 {
    color: #646698;
    margin-bottom: 20px;
}

.superbolt_setting_box img {
    text-align: center;
    width: 56px !important;
    height: 56px !important;
    padding: 12px;
    background: #eff1fc;
    border-radius: 20px;
    margin-bottom: 10px;
}

.superbolt_setting_box {
    padding: 20px 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(22, 86, 160, 0.13);
    border-radius: 6px;
    background: #fff;
    margin: auto;
    width: 75%;
}

.superbolt_setting_box p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    color: #646698;
}

.superbolt_get_started_btn {
    margin-top: 20px;
}

.superbolt_get_started_btn .theme_btn {
    padding: 6px 35px;
}

/*/////////////////////////////////////////////////////
                pending order page css
///////////////////////////////////////////////////////*/
.pending_order_table td {
    font-size: 16px;
}

.approve_order_img img {
    width: 57px !important;
    padding: 40px 0 18px;
}

.approve_order_form, .decline_order_form {
    padding-top: 20px;
}

.approve_order_btn {
    margin-top: 25px;
}

.view_pending_order_name svg {
    fill: #a7aaf9;
    margin-right: 15px;
}

.view_pending_order_detail_inner .view_product_detail_txt {
    width: 19%;
    display: inline-block;
}

.pending_order_download_txt {
    color: #466afc;
    font-weight: 600;
    text-align: right;
}

.view_pending_order_detail {
    padding-top: 55px;
}

.pending_order_table {
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    padding: 40px;
}

.pending_order_table .table td {
    padding: 5px;
    border-top: 0;
}

table.table.top_table td {
    text-align: right;
}

.pending_order_table span.order_title {
    font-size: 22px;
}

.pending_order_table td.right_table_txt {
    text-align: right;
}

.pending_order_table tr.center_table td {
    padding: 20px 0;
}

.pending_order_table tr.heading.bottom_table td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    padding: 5px;
}

.pending_order_table table tr.item td {
    border-bottom: 1px solid #eee;
}

.pending_order_table tr.total {
    border-top: 3px solid #eee;
}

.customer_image {
    width: 200px;
    margin: auto;
    display: block;
}
.customer_details_content{
    padding: 44px 0 15px;
}
.view_product_tab .nav-tabs .nav-link:hover{
    background: rgba(167,170,249,0.8);
    color: #fff;
}
.mark_paid_btn {
    margin-top: 40px;
}
.request_data_img img{
    width: 100px !important;
}
a.dropdown-item {
    color: #646698;
    border-bottom: 1px solid #e0e9f3;
    padding: 10px;
    min-height: 40px;
    text-decoration: none;    
    cursor: pointer;
    font-size: 14px;
    line-height: 19px;
    z-index: 9999;
}
a.dropdown-item:last-child{
    border-bottom: 0;
}
.dropdown-item.active, .dropdown-item:active {
    color: #646698;
    background-color: #ebf5ff;
}
.dropdown-menu.show {
    padding: 0;
    margin: 10px 0 0;
    position: absolute;
    background: white;
    border-radius: 6px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(18,63,116,0.23);
    z-index: 1;
}
/*/////////////////////////////////////////////////////
                dashboard page css
///////////////////////////////////////////////////////*/
.dashboard_setup_box {
    background: #fff;
    padding: 30px 15px 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(22, 86, 160, 0.13);
    border-radius: 6px;
    transition: all .1s ease-out;
    margin: 0 1% 2%;
    width: 23.5%;
}
.not_done_setup_box i{
    color: #D3D4FC;
}
.dashboard_setup_done_icon {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
    color: #02BE11 !important;
    text-align: center;
}

.dashboard_setup_box_txt {
    color: #D3D4FC;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.not_done_setup_box .dashboard_setup_box_txt {
    color: #466AFC;
}

.product_service_icon {
    width: 37px;
}

.checkout_flow_icon {
    width: 45px;
}

.business_settings_icon {
    width: 50px;
}

.publish_sale_icon {
    width: 35px;
}

.dashboard_setup_box_img {
    height: 50px;
}

.follow_setup_step_title {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #646698;
    padding-bottom: 12px;
}

.follow_setup_steps {
    padding: 20px 0;
}

.dashboard_graph_tab_top_txt {
    background: #fff;
    padding: 35px 20px;
    margin-bottom: 10px;
    box-shadow: 0 3px 4px rgba(22, 86, 160, 0.13);
    border-radius: 6px;
    text-align: center;
}

.graph_tab_top_title_txt {
    color: #646698;
    font-size: 20px;
    margin-bottom: 0;
}

.graph_tab_icon_txt {
    font-size: 40px;
    color: #646698;
    line-height: 40px;
    margin-bottom: 3px;
}

.graph_tab_icon_txt span {
    color: #a7aaf9;
    margin-right: 3px;
    font-size: 40px;
}

.graph_tab_btm_title_txt {
    font-size: 20px;
    color: #00ad28;
    margin-bottom: 0;
}

.graph_tab_icon_txt i {
    font-size: 35px;
    color: #a7aaf9;
    margin-right: 10px;
}

.updown_arrow_img {
    width: 40px;
    margin-right: 10px;
}

.active_customers_txt {
    border-left: 1.5px solid #e8e8ff;
    border-right: 1.5px solid #e8e8ff;
}

.nav.nav-tabs.dashboard_graph_list {
    margin-left: 58px;
    border: 0;
}

.dashboard_graph_list.nav-tabs .nav-item {
    margin-bottom: -2px;
}

.dashboard_graph_list.nav-tabs .nav-link.active {
    box-shadow: 2px -3px 3px rgba(22, 86, 160, 0.13);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: white;
    border: 0;
}

.dashboard_graph_list.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.dashboard_graph_list a.nav-link {
    font-size: 14px !important;
    color: #8889af !important;
    text-align: center;
}

.chart_container {
    background: white;
    padding: 10px;
    box-shadow: 0 3px 4px rgba(22, 86, 160, 0.13);
    border-radius: 6px
}
.shopshetting_billinginformation {
    color: #646698;
    padding: 30px 0 15px;
}
.shopshetting_billinginformation h4 {
    font-size: 26px;
}

.shopshetting_billinginformation p {
    font-size: 14px;
}
.input_group_field .country_map {
    width: 40px;
    margin-right: 10px;
}
.input_group_field .input-group-text {
    color: #C2C4FB;
    font-size: 18px;
    padding: 10px 10px 10px 20px;
    background: #fff;
}
.other_shop_setting_title {
    padding-right: 55px;
    position: relative;
    margin-bottom: 5px;
}
.other_shop_setting_box {
    padding: 20px;
    position: relative;
    /* cursor: pointer; */
    box-shadow: 0 3px 4px rgba(22,86,160,0.13);
    border-radius: 6px;
    transition: all .1s ease-out;
    background: #fff;
}
img.other_shop_setting_icon {
    right: 0px;
    height: 56px !important;
    padding: 12px;
    background: #eff1fc;
    border-radius: 20px;
    top: 0;
    position: absolute;
}
.other_shop_setting_title h5 {
    line-height: 27px;
}
.other_shop_setting_box p {
    font-size: 16px;
    color: #bbc0ce;
    margin-bottom: 0;
    line-height: 22px;
}
.other_shop_setting_box:hover {
    transform: translateY(-3px) scale(1.005) translateZ(0);
    box-shadow: 0 16px 26px rgba(0,0,0,0.11), 0 16px 36px rgba(128,133,251,0.33);
}
.stock_management_form_txt {
    color: #777e8e;
    font-weight: 300;
    text-align: center;
    padding: 25px 0;
}
.stockmanagement_form {
    padding-top: 20px;
}
.stock_management_modal_subtitle {
    width: 86%;
    margin: auto;
}
.currency_whitelist_form {
    padding-top: 33px;
}
.currency_whitelist_form .form-group {
    padding-bottom: 21px;
}
.custom_checkbox_field {
    padding-bottom: 15px;
}
.custom_checkbox_field .custom-control.custom-checkbox {
    padding-left: 32px;
}
.custom_checkbox_field .custom-control-label, .custom_checkbox_field .custom-control i {
    font-size: 16px;
    color: #8084fb;
}
.custom_checkbox_field .custom-control-label::before {
    width: 1.2rem;
    height: 1.2rem;
    border: #8084fb solid 1px;
    left: -1.95rem;
}
.currency_whitelist_btn {
    margin-top: 35px;
}
.custom-control-label::after {
    top: -2px;
    left: -2.1rem;
    width: 25px;
    height: 31px;
}
h3.adding_restriction_title{
    color: #646698;
}
.adding_restriction_content_inner {
    padding-top: 44px;
    color: #777e8e;
}
.adding_restriction_title_txt p {
    font-size: 14px;
    margin-top: 14px;
}
.adding_restriction_top_img {
    width: 63%;
}
.adding_restriction_center_img {
    width: 60%;
}
img.adding_restriction_btm_img {
    width: 42%;
}
.payment_option_box p {
    font-size: 16px;
    color: #646698;
    padding-top: 25px;
    margin-bottom: 8px;
}
.payment_option_box.text-center {
    border: 1px solid #e0e9f3;
    padding: 30px 20px;
    border-radius: 6px;
    background: #fff;
}
.payment_option_box img {
    width: 50px;
}
.apexcharts-toolbar {
    display: none !important;
}
.dashboard_graph_tab {
    padding-bottom: 100px;
}

